.account-tab-register,
.account-tab-login {
  border: none;
  outline: none;
  color: #0f27ad;
  margin: 0 10px;
  background-color: transparent;
  cursor: pointer;
}

.app-account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.action-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  align-items: center;
  flex-direction: column;
}
.app-header{
    max-width: 30rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color:#cccccc ;
    border-radius: 20px;
}
.action-container button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  color: #ffffff;
  background-color: #c23623;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
}
.action-container button:nth-child(1) {
  background-color: #c23623;
}
.action-container button:nth-child(2) {
  background-color: #0f27ad;
}
.action-container button:nth-child(3) {
  background-color: #0f27ad;
}


.app-title {
  font-size: 2rem;
  color: #000000;
  font-weight: 700;
  margin: 0;
  text-align: center;
}